<div class="side-menu">
  <h2 matSubheader>Booking app</h2>
  <mat-nav-list>
    <a mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon>
      <p mat-line>Home</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>
      <p mat-line>Some menu point</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>
      <p mat-line>Some menu point</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>
      <p mat-line>Some menu point</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>
      <p mat-line>Some menu point</p>
    </a>
    <a mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>
      <p mat-line>Some menu point</p>
    </a>
  </mat-nav-list>
</div>