<mat-card class="detail-card">
  <p *ngIf='isLoading'>Loading...</p>
  <mat-card-title>Lorem ipsum</mat-card-title>
  <img mat-card-image [src]='detail?.photo'>
  <mat-card-footer fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <strong>{{detail?.followers}}</strong>
      <p>
        followers
      </p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <strong>{{detail?.following}}</strong>
      <p>
        following
      </p>
    </div>
  </mat-card-footer>
</mat-card>