<h1 class='title'>Booking Widget</h1>

<div class="booking-content">
    <mat-card class="hotels-card">
        <img mat-card-image [src]="currentHotel?.picture" alt="Loading...">
        <mat-card-content>
          <h2>Hotels list</h2>
          <p *ngIf='isLoading'>Loading...</p>
          <app-list (onHotelChange)='changeHotel($event)' [hotels]='hotels'></app-list>
        </mat-card-content>
    </mat-card>
    <div class="addons-container">
      <app-weather [weather]='currentHotel?.weather' [isLoading]=isLoading></app-weather>
      <app-detail [detail]='currentHotel?.profile' [isLoading]=isLoading></app-detail>
    </div>
</div>
