.title {
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin: 3em 0em 2em 0em;
}

.booking-content {
    margin: auto;
    max-width: 668px;
    padding: 8px;
    .hotels-card .search-field {
        width: 100%
        
    }
}



